{% extends 'registration/login.html' %}
{% block content %}
  <div class="horario my-3">
    <h3>Lista de Pacientes</h3>
    <form method="post">
      {% csrf_token %}
      Buscar por Rut: <input type="text" name="buscaRut" maxlength="9">
      <button type="submit" name="buscar">-></button>
    </form><br>
    <a href="registrar/"><button type="button"> Añadir Paciente </button></a>
    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <td>Rut</td>
          <td>Nombre</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        {% for p in pacientes %}
        <tr>
          <td>{{ p.rut }}</td>
          <td>{{ p.nombre }}</td>
          <td> <a href="editar/{{ p.id }}/">Editar</a> / <a href="{{ p.id }}/">-></a> </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No hay resultados</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
