/* Estilos por defecto */
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}
body {
  background-color: rgb(74, 134, 232) !important;
}

/* Header */
img.logoU {
  width: 250px;
  height: auto;
}

/* Contenedor principal */
div.container {
  background-color: #FFFFFF;
}
