/* Estilos por defecto */
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

/* Header */
header {
  background-image: url('../img/header.jpg');
  background-position: center;
  background-size: cover;
}
.inicio-sesion {
  margin-top: 30px;
}
.dropdown-menu {
  z-index: 1;
  top: 37px!important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.logo-pagina {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
}
.contenido-cerrar-sesion {
  float: right;
}

/* Filtros de categorias */
.filtro-categorias {
  order: 1;
  -webkit-order: 1;
}
.lista-categorias {
  order: 2;
  -webkit-order: 2;
}
@media only screen and (min-width: 767px) {
  .filtro-categorias {
    order: 2;
    -webkit-order: 2;
  }
  .lista-categorias {
    order: 1;
    -webkit-order: 1;
  }
}


.opc-filtros {
  list-style: none;
}

/* Barra lateral de perfil */
.barra-lateral {
  z-index: 1 !important;
  height: 100vh;
  border-radius: 5px;
  background-color: rgb(248, 249, 250);
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .barra-lateral {
    height: 600px;
    position: static!important;
  }
}
.lista-scroll{
  border-radius: 0;
}
.lista-scroll a{
  border: 0;
  background-color: #F8F9FA;
  color: black;
  border-bottom: 1px solid #E5E5E5;
  border-top-left-radius: 0px;
  margin: 0;
}
.lista-scroll a:first-child{
  border-top: 1px solid #E5E5E5;
}
.lista-scroll a:hover {
  background-color: rgb(204, 204, 204);
  color: black;
}
.foto-perfil {
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .foto-perfil {
    width: 200px;
  }
}

/* Contenido del perfil */
#galeria-escritorio {
  display: block;
}
#galeria-movil {
  display: none;
}
@media only screen and (max-width: 767px) {
  #galeria-escritorio {
    display: none;
  }
  #galeria-movil {
    display: block;
  }
}
.nombre-pyme {
  text-transform: capitalize;
}
.descripcion-pyme {
  height: 25px;
  width:550px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .descripcion-pyme {
    height: 50px;
  }
}
.contenido-perfil {
  margin: 20px 0;
}
.boton-pyme {
  margin: auto 0;
}
@media only screen and (max-width: 767px) {
  .boton-pyme {
    margin: 2px!important;
  }
}
.carousel-inner {
  height: 200px;
}

/* Contenido pyme */
.contenido-pyme {
  background-color: rgb(248, 249, 250);
  margin: 5px 0;
  padding: 2px 0;
  border-radius: 15px;
}
@media only screen and (max-width: 767px) {
  .contenido-pyme {
    padding: 15px;
  }
}
.img-pyme {
  border-radius: 10px;
  height: 100%;
}
.logo-pyme {
  overflow: hidden;
}
.info-pyme, .descripcion-pyme {
  width: 100%;
}

/* Contenido inicio */
.contenido-general {
  margin: 20px 0;
}
.carousel {
  margin-top: 15px;
}
.carousel-item{
  height: 100% !important;
}
.carousel-item .row {
  height: 100%
}
.carousel-item .row .col {
  margin: auto 0;
}
.icarousel {
  width: 100%;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.icarousel .carousel-item a > img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .icarousel {
    width: 75%;
  }
}


/* Enlaces */
.nombre-pyme {
  margin-top: 7px;
  margin-bottom: 13px;
}
.enlaces-pagina:hover {
  font-style: none;
  font-weight: bold;
  color: rgb(34, 95, 210);
}
.enlaces-redes {
  font-style: none;
  font-weight: bold;
  font-size: 35px;
}
.redes-pyme {
  margin: 20px 0;
}

/* Categorias */
.perfil-categoria {
  width: 125px;
}

/* Login */
body.text-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
form.form-signin {
  background-color: rgb(248, 249, 250);
  border-radius: 10px;
  padding: 30px 20px;
}
.fondo {
  background-image: url("../img/fondo.jpg");
  position: fixed;
  left: 0;
  right: 0;
  z-index: -10;
  transform: scale(1.1);
  display: block;
  background-size: cover;
  height: 100%;
  -webkit-filter: blur(10px);
  filter: blur(9px);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo-login {
  border-radius: 5px;
}

/* Edición de Perfil */
.boton-edicion {
  margin-top: 10px;
}
.contenedor-formulario{
  margin: 20px 0;
}

/* Mensajes de Errores */
.logo-error {
  font-size: 2em;
  color: rgb(238, 80, 80);
}
.mensaje-error {
  text-transform: uppercase;
  color: rgb(53, 139, 210);
}
.contenedor-error {
  padding: 10px 0;
  background-color: rgb(204, 204, 204);
  margin: 50px 0;
  border-radius: 10px;
}

/* Footer */
footer {
  background-color: rgb(204, 204, 204);
}
.iconos-redes-footer {
  font-size: 30px;
}
.logo-footer {
  margin: 10px 0;
}
.contenido-footer {
  padding-bottom: 20px;
}
.links {

}
.direccion {

}
