{% extends 'Horarios/index.html' %}
{% block content %}
  <div class="horario my-2">
    <form method="post">
    {% csrf_token %}
      <table class="table table-bordered">
        <tr>
          <td>Horario</td>
          <td>Lunes</td>
          <td>Martes</td>
          <td>Miercoles</td>
          <td>Jueves</td>
          <td>Viernes</td>
          <td>Sabado</td>
        </tr>
        {% for block in bloqueList %}
          <tr>
            <td>{{ block.h_inicio }} - {{ block.h_fin }}</td>
            <td><input type="checkbox" name="bloque" value="{{ block.nombre }}Lu">
            <td><input type="checkbox" name="bloque" value="{{ block.nombre }}Ma"></td>
            <td><input type="checkbox" name="bloque" value="{{ block.nombre }}Mi"></td>
            <td><input type="checkbox" name="bloque" value="{{ block.nombre }}Ju"></td>
            <td><input type="checkbox" name="bloque" value="{{ block.nombre }}Vi"></td>
            <td><input type="checkbox" name="bloque" value="{{ block.nombre }}Sa"></td>
          </tr>
        {% empty %}
        <p>WHAT?</p>
        {% endfor %}
      </table>
      <div class="comentarios pl-3">
        <h5>Comentarios</h5>
        <select class="custom-select" name="opcion" onchange="opciones(this.value)">
          <option value="Direccion de Departamento">Dirección de Departamento</option>
          <option value="Cargo Directivo Campus">Cargo Directivo Campus</option>
          <option value="Jefatura de Carrera">Jefatura de Carrera</option>
          <option value="Dirección de Proyecto de Investigación">Dirección de Proyecto de Investigación</option>
          <option value="Dirección Central">Dirección Central</option>
          <option value="Dirección de Proyecto de Gestión Institucional">Dirección de Proyecto de Gestión Institucional</option>
          <option value="otro">Otro (especificar)</option>
        </select>
        <div class="mt-2 caja-comentarios">
          <input class="form-control" type="text" name="otro" id="otro" style='display:none;'/>
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-login m-3 float-right">Enviar</button>
      <button class="btn btn-default btn-login m-3 float-right"><a href="/menu">Volver</a></button>
    </form>
  </div>
{% endblock %}
